body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.circle {
  border-radius: 50%;
}
.container {
  display: grid;
  grid-template-columns: .5fr 1fr; 
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}
header {
  background-color: rgba(23, 23, 224, .7);
  white-space: nowrap;
}
.profile-photo {
  display: inline-block;
  padding-top: 1%;
}
.icons {
  display: inline-block;
  font-size: 35px;
  padding-left: 10%;
}
a {
  color: black;
}
.name {
  display: inline-block;
  padding-left: 10%;
}
.left {
  background-color: aliceblue;
  padding-left: 3%;
}